# Large database files
*.sqlite
*.sqlite3
*.zip
# Large data files
datasets/RAW_*.csv
datasets/PP_*.csv
datasets/vector_db/
*.bin
*.pickle

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment folders
env/
venv/
ENV/

# Large JSON files
processed_recipes.json
final/final/vector_db.zip
datasets/cleaned_nutrition_dataset.csv
datasets/interactions_test.csv
datasets/interactions_validation.csv
datasets/interactions_train.csv
